<div class="page-header" style="margin-top: 20px">
  <h1>User Authentication</h1>
</div>


<div class="row">

</div>

<hr/>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4" style="background-color: #eee;">

    <h3>Enter your credentials</h3>

    <form class="form-horizontal login-form col-md-12" [formGroup]="loginForm" (ngSubmit)="authenticate()" role="form">

      <div class="form-row">

        <label class="col-md-3 col-form-label">User name</label>
        <input class="form-control col-md-3" id="userName" name="userName" formControlName="userName" type="text" />

        <div *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)" class="alert alert-danger">
          User name must be provided
        </div>

      </div>

      <div class="form-row">

        <label for="userPassword" class="col-md-3 col-form-label">Password</label>
        <input class="form-control col-md-3" id="userPassword" name="userPassword" formControlName="userPassword" type="password">

        <div *ngIf="loginForm.get('userName')?.invalid && (loginForm.get('userName')?.dirty || loginForm.get('userName')?.touched)" class="alert alert-danger">
          Password must be provided
        </div>

      </div>

      <div class="btn-toolbar" style="margin-top: 20px; margin-outside: 2px; ">
        <button type="reset" class="btn btn-info" style="margin-right: 10px;">Clear Form</button>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>

      <!--      <div class="margin-top: 20px">-->

      <!--        <p>Form value:{{ loginForm.value | json }}-->
      <!--        <p>-->

      <!--        <p>Form status:{{ loginForm.status }}</p>-->

      <!--      </div>-->

    </form>


  </div>

  <div class="col-md-4">
  </div>

</div>

<div *ngIf="httpError">
  <app-error-message [failedOperation]="operationMessage" [error]="httpError"></app-error-message>
</div>

<!--</div>-->
