<div style="margin-top: 20px;">

</div>
<div>
  <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh; overflow:hidden;">

    <div>
      <div>
        <h3>Welcome to the Research Database</h3>
        <p>
          The Research Database is an Open Source software application aimed at providing historians with a database on
          the following types of data:
        </p>
      </div>
      <div>
        <dl class="row">

          <dt class="col-sm-3">Artefacts</dt>
          <dd class="col-sm-9">Details of when and where found, by whom, description of the artefact</dd>

          <dt class="col-sm-3">Bibliographies and Publications</dt>
          <dd class="col-sm-9">Details of the author(s) and publishers, when written and description</dd>

          <dt class="col-sm-3">Places, countries and regions</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">Deities</dt>
          <dd class="col-sm-9">Details of deities, religions and peoples that they were associated with</dd>

          <dt class="col-sm-3">Hierarchies - for modelling religious</dt>
          <dd class="col-sm-9">Details of ecclesiastical, military, political or other forms of hierarchy</dd>

          <dt class="col-sm-3">Languages and Language Groups</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">Materials</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">Measurements</dt>
          <dd class="col-sm-9">Measurements and convertors</dd>

          <dt class="col-sm-3">People</dt>
          <dd class="col-sm-9">Details of people, where and when born and died, roles carried out, titles and attributes</dd>

          <dt class="col-sm-3">Places, countries and regions</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">Technologies and groups of technologies</dt>
          <dd class="col-sm-9"></dd>

          <dt class="col-sm-3">Theories</dt>
          <dd class="col-sm-9"></dd>

        </dl>
      </div>
    </div>
  </div>
</div>
